:root {
    --dark-bg:      #383D3B;
    --light-bg:     #EBEBEB;
    --black:        #000000;
    --white:        #ffffff;
    --grey:         #7C7C7C;
    --light-green:  #A1EF8B;
    --emerald:      #62C370;
    --red:          #C72E2E;
}