{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}

{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='user.css') }}"/>{% endblock %}
{% block content %}<div class="user-container">
                        <div class="form-nav">
                            {% for page in pages %}
                                <p><a href="{{ url_for(page) }}">{% if pages[page] == title %}<strong>{{pages[page]}}</strong>{% else %}{{pages[page]}}{% endif %}</a></p>
                            {% endfor %}
                        </div>
                        <div class="form-content">
                            <form method="POST">
                                <div class="row">
                                    <div class="row-length">
                                        <label for="sujet"> Sujet </label>
                                        <input id="sujet" class="form-input" type="text" placeholder="Titre"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-length">
                                        <label for="message">Message</label>
                                        <textarea id="message" class="form-textarea" cols="70" row="30"></textarea>
                                    </div>
                                </div>
                                <input class="form-button" type="submit" value="Envoyer"/>
                            </form>
                        </div>
                    </div>{% endblock %}